@import 'src/styles.scss';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 700px;
  height: 100%;
  position: relative;
}

.img-carousel {
  position: absolute;
  height: 700px;
  object-fit: none;
  width:  100%;
  transition: opacity .8s;
}
.btn-cont, .redirect-btn-con {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.btn-cont {
  bottom: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.redirect-btn-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.redirect-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $primary;
  border-radius: 5px;
  width: 120px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 500;
  color: $text;
  margin: 5px;
  text-decoration: none;
  padding: .8rem 1rem;
  background-color: $navbar-bg;
  @include bot-right-shadow;
  margin: 1rem;
  transition: color .3s;
  &:hover {
    color: $primary;
  }
}

:host mat-button-toggle-group {
  border: none;
  height: 2rem;

}
:host ::ng-deep .mat-button-toggle-group-appearance-standard {

}
:host ::ng-deep mat-button-toggle {
  border: 1px solid $strong-text !important;

  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 5px;
  background-color: $project-bg;
}
.active {
  background-color: $primary;
  transition: background-color 1s;
  box-shadow:inset 0px 0px 0px 2px $background;
}
