@import 'src/styles.scss';

:host {
  @include flex-center-col;
  min-height: 700px;
  height: 100%;
  position: relative;
}

.img-carousel {
  position: absolute;
  height: 700px;
  object-fit: none;
  width: 100%;
  transition: opacity .8s;
}

.btn-cont,
.redirect-btn-con {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.btn-cont {
  bottom: 0%;
  @include flex-center-col;
}

.redirect-btn-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.redirect-btn {
  text-align: center;
  border: 1px solid $primary;
  border-radius: 5px;
  width: 120px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 500;
  color: $strong-text;
  text-decoration: none;
  padding: .8rem 0;
  background-color: $navbar-bg;
  margin: 1rem;
  transition: color .3s;
  @include bot-right-shadow;

  &:hover {
    color: $primary;
  }
}

.toggle-btn-cont {
  border: none;
  height: 2rem;
}

:host ::ng-deep .toggle-btn {
  border: 1px solid $strong-text !important;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  margin: 7px;
  background-color: $project-bg;

  &.active {
    background-color: $primary;
    transition: background-color 1s;
    box-shadow: inset 0px 0px 0px 2px $background;
  }
}

