  <img #img [src]="actualImage" class="img-carousel">
  <div class="btn-cont">
    <mat-button-toggle-group (ngModelChange)="manualChange($event)" [ngModel]='counter'>
      <mat-button-toggle *ngFor="let btn of project.images; let i = index" [ngClass]="{'active' : counter == i}"
        [value]="i"></mat-button-toggle>
    </mat-button-toggle-group>
    <div class="redirect-btn-cont">
      <a [href]="project.redirectLive" class="redirect-btn"> Live</a>
      <a [href]="project.redirectGit" class="redirect-btn"> Github</a>
    </div>
  </div>
