<section>
  <header id="contact-anchor">Contact Me</header>
  <form class="contact" [formGroup]='sendMailForm' (ngSubmit)="send()">
    <div class="flex-layout">
      <div class="input-cont">
        <label for="name">Name<span class="req-sign">*</span></label>
        <input [ngClass]="{'input-invalid': !sendMailForm.get('name').valid && sendMailForm.get('name').dirty}"
          formControlName="name" id="name" type="name">
      </div>
      <div class="input-cont">
        <label for="tel">Phone</label>
        <input formControlName="phone" id="phone" type="phone">
      </div>
      <div class="input-cont">
        <label for="mail">Mail<span class="req-sign">*</span></label>
        <input [ngClass]="{'input-invalid': !sendMailForm.get('mail').valid && sendMailForm.get('mail').dirty}"
          formControlName="mail" id="mail" type="mail">
      </div>
    </div>
    <div class="textarea-cont">
      <label for="mes">Message<span class="req-sign">*</span></label>
      <textarea id="mes" formControlName="message" rows="12"
        [ngClass]="{'input-invalid': !sendMailForm.get('message').valid && sendMailForm.get('message').dirty}">
  </textarea>
    </div>
    <button mat-button type="submit" class="send-btn">Send <fa-icon class="fa-icon"
        [ngClass]="{'checked' : isCheckedVis}" [icon]="faCheck"></fa-icon> </button>
  </form>
</section>
