<section>
  <header id="contact-anchor">Contact Me</header>
  <form class="contact" [formGroup]='sendMailForm' (ngSubmit)="send()">
    <div class="flex-layout">
      <div class="input-cont">
        <label for="name">Name<span class="req-sign">*</span></label>
        <input formControlName="name" id="name" type="name">
      </div>
      <div class="input-cont">
        <label for="tel">Phone</label>
        <input formControlName="phone" id="phone" type="phone">
      </div>
      <div class="input-cont">
        <label for="mail">Mail<span class="req-sign">*</span></label>
        <input formControlName="mail" id="mail" type="mail">
      </div>
    </div>
    <div class="textarea-cont">
      <label for="mes">Message<span class="req-sign">*</span></label>
      <textarea id="mes" formControlName="message" rows="12">
  </textarea>
    </div>
    <button mat-button type="submit" class="send-btn" >Send</button>
  </form>
</section>
