<div class="logo"><span>Marcin Henzel</span></div>
<div class="container">
  <nav>
    <a [ngClass]="{'active': currPosition === 'Projects'}" href="#Projects" class="tab">Projects</a>
    <a [ngClass]="{'active': currPosition === 'Technologies'}" href="#Technologies" class="tab">Technologies</a>
    <a [ngClass]="{'active': currPosition === 'Contact'}" href="#Contact" class="tab">Contact</a>
  </nav>
  <mat-slide-toggle [checked]='isDarkMode'(change)="toggle($event)">Slide me!</mat-slide-toggle>
</div>
