@import '../../../styles.scss';

:host {
  display: block;
/*   background-color:$grey; */
/*   background-color: $secondary; */
  height: 300px;
  margin-top: 10px;
  border-top: 1px solid $grey;
  background-color: $grey;
}
