.container {
  display: grid;
  grid-template-rows: auto 1fr 1fr auto
}
/* @media (max-width: 1439px) {
  app-side-nav {
    display: none
  }
}
@media (min-width: 1440px) {
  app-navbar {
    display: none;
  }
}
 */
