$background: var(--background);
$text: var(--text);
$strong-text: var(--strong-text);
$primary: var(--primary);
$secondary: var(--secondary);
$navbar-bg: var(--navbar-bg);
$project-bg: var(--project-bg);

$white: rgb(250, 250, 250);
$orange: #ff9f56;
$grey: rgb(80, 80, 80);


@mixin section-header {
  text-align: center;
  letter-spacing: 2px;
  font-size: 3rem;
  font-weight: 500;
  margin-top: 4rem;
  padding-bottom: 2rem;
  position: relative;
  color: $strong-text;

  &:after {
    content: '';
    position: absolute;
    width: 300vw;
    border-bottom: 1px solid $text;
    height: 0px;
    bottom: 0px;
    left: -50vw
  }
}
* {
  box-sizing: border-box;
}

:root {

  --navbar-bg: rgb(255, 255, 255, .7);
  --background: #f0f0f0;
  --strong-text: rgb(20, 20, 20);
  --text: rgb(31, 31, 31);
  --primary: #ff9f56;
  --project-bg: white;
  --secondary: #30475e;
}

html {
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: $background;
  overflow-x: hidden;
}
@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 12px;
  }
}
