$background: var(--background);
$text: var(--text);
$strong-text: var(--strong-text);
$primary: var(--primary);
$secondary: var(--secondary);

$grey: rgb(80, 80, 80);

:root {
/*   $boxshadow: 0 0 6px #000;
  $lightblue:rgb(23, 137, 252);
  $darkblue:rgb(41, 110, 180);
  $strongyellow: rgb(253, 184, 51);
  $beige: rgb(255, 208, 123);
  $brown: rgb(177, 116, 15); */
  --background: #ececec;
  --strong-text: rgb(20,20,20);
  --text: #222831;
  --primary: #f2a365;
  --secondary: #30475e;
}
html {
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  scroll-behavior: smooth;
}
body{
  padding: 0;
  margin: 0;
  background-color: $background;
}
* {
  box-sizing: border-box;
}
