@import 'src/styles.scss';

:host {
  display: block;
  height: 80vh;
}
h2 {
  color: $text;
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: 500;
  margin: .7rem 0 0 .7rem;
}
.container {
  display:flex;
  justify-content: space-between;
  height: 100%;

}
section {
  height: 100%;
  background: $project-bg;
  border-radius: 25px;
  padding: 10px;
  margin: 3rem 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.212);
}
:host ::ng-deep .mat-tab-label-content {
  color: $text;
}
