@import 'src/styles.scss';

:host {
  display: block;
  max-width: 1440px;
  width: 100%;
}

section {
  display: flex;
  background: $project-bg;
  border-radius: 25px;
  margin: 1rem 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.212);
}

h2 {
  color: $strong-text;
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem auto .4rem auto;
}

.container,
.img-cont {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.container {
  padding: 10px 0px 5px 10px;
}

.right-border {
  border-right: 1px solid $primary;
}

.tech-cont {
  margin: 0;
  padding: 0;
}

.techs {
  color: $text;
  list-style: none;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2.5rem;
}

.description-sentence {
  color: $text;
  letter-spacing: 1px;
  line-height: 2rem;
  font-size: 1.2rem;
}

.bold {
  color: $strong-text;
  font-weight: 500;
}

:host ::ng-deep {

  .mat-tab-body-content {
    min-height: 250px !important;
  }

  mat-tab-body {
    overflow-y: hidden !important;
    padding: 1rem 1rem 0 1rem !important;
  }

}

@media (max-width: 776px) {
  .right-border {
    border-right: none;
  }

  section {
    flex-direction: column;
    justify-content: space-between;
  }

  .container,
  .img-cont {
    width: 100%;
  }
}
