<h1>Projects</h1>
<section>
  <h2>ITFS</h2>
  <div class="container">
    <mat-tab-group mat-align-tabs="center" color='accent'>
      <mat-tab label="Description"> Description </mat-tab>
      <mat-tab label="Techs & libraries"> Techs & libraries</mat-tab>
    </mat-tab-group>
    <div class="img-cont">
      <img src="../../../assets/screenshots/add-deleg.png" alt="">
      <div class="redirect-cont">
        <button class="live"></button>
        <button class="git"></button>
      </div>
    </div>
  </div>
</section>
<section>
  <h2>Tribal Manager</h2>
  <div class="container">
    <div class="info"></div>
    <div class="img-cont">
      <img src="" alt="">
      <div class="redirect-cont">
        <button class="live"></button>
        <button class="git"></button>
      </div>
    </div>
  </div>
</section>
<section>
  <h2>
    Portfolio
  </h2>
  <div class="container">
    <div class="info"></div>
    <div class="img-cont">
      <img src="" alt="">
      <div class="redirect-cont">
        <button class="live"></button>
        <button class="git"></button>
      </div>
    </div>
  </div>
</section>
