<h1>Projects</h1>
<app-project project='ITFS'>
<span class="description">dsadas</span>
<ul class="techs">

  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
</app-project >
<app-project project='Tribal Manager'>
  <span class="description">dsadas</span>
  <ul class="techs">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</app-project >
<!-- <app-project project='This Page'>
  <span class="description">dsadas</span>
  <ul class="techs">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</app-project>
 -->
