@import 'src/styles.scss';
:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

header {
  @include section-header;
}

.tile-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4rem 0;
}

.tile {
  height: 120px;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: $project-bg;
  border-radius: 10px;

  span {
    font-size: 1.2rem;
    color: $text;
  }
}
