@import 'src/styles.scss';

section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-top: 1rem;
}
header {
  @include section-header;
}
.layout {
  @include narrow-layout;
}
.tile-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tile {
  height: 120px;
  width: 120px;
  @include flex-center-col;
  justify-content: space-around;
  margin: .4rem;
  padding: .5rem;
  background-color: $project-bg;
  border-radius: 10px;
  @include bot-right-shadow;
  span {
    font-size: 1.2rem;
    color: $text;
  }
}
.tech-pics {
  width: 60px;
  height: 80px;
  object-fit: contain;
}
